.titles {
    display:flex;
    justify-content:flex-start;
    /* border:3px solid salmon; */
    width:45%;
}

.content{
    /* border: 3px solid royalblue; */
    margin-bottom:5em;
}

/********************
    text 
********************/
.content-text-cours{
    /* border:solid 2px sandybrown; */
    margin-top : 2em;
}

.content-text-cours p {
    font-size:0.9em;
}

/********************
    img + text
********************/

.content .image-container{
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: flex-start;
    /* border:solid orangered 3px; */
    width:40%;
}

.content .image-container img{
    width:75%;
    height:75%;
}


.content .image-container p{
    margin-top:2em;
    font-size:0.9em;
}

.content b{
    font-weight: 500;
    font-size:1em;
}

/********************
     3 cards
********************/
.second-container{
    background: #F7FBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.card-container{
    /* border:2px solid royalblue; */
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-bottom: 3em;
}

.card-container .img-container{
    padding-top:2em;
    /* border:2px solid rebeccapurple; */
    display:flex;
    justify-content: center;
}


.card-container .content-card{
    /* border:3px solid orchid; */
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:0.8em;
    text-align: center;
}

.second-card{
    width:17em;
}

.card-container .content-card h4{
    color:#129490;
    font-weight: 500;
}

.card-container .content-card p{
    font-weight: 300;
    margin-top:0.7em;
    line-height: 1.5em;
}

.card-container .content-card b{
    font-weight: 400;
}

/********************
     thrird container
********************/

.third-container{
    margin-left:10%;
    width:80%;
    display:flex;
    margin-top:5em;
    flex-direction: column;
}

.text-explication{
    /* border:2px solid thistle; */
    display:flex;
    justify-content: space-between;
    margin-top:2em;
}


.text-explication .first-text-container{
    /* border:2px solid red; */
    width:40%;
}

.text-explication .second-text-container{
    /* border:2px solid blueviolet; */
    width:40%;
}

.text-explication h5{
    font-weight: 500;
}

.button{
    display:flex; 
    justify-content: center;
}

.button a {
    text-decoration: none;
    background:#129490;
    padding:0.6em 1.5em;
    border-radius: 100px;
    font-weight: 500;
    color:white;
    margin-bottom:8em;
    margin-top:5em;
}