
.content-informations{
    margin-top:4em;
    /* border:3px solid red; */
    width:80%;
    margin-left:10%;

}

.infos{
    /* border:solid red 2px; */
    display:flex;
    justify-content: space-between;
    width:80%;
    margin-left:10%;
    margin-bottom: 4em;
}

.infos .content-infos{
    /* border:solid 2px orange; */
    width:28em;
}

.infos .content-infos .paragraph{
    /* border:2px solid rebeccapurple; */
    margin-bottom: 2em;
}

.infos .content-infos .paragraph .container-paragraph-icon {
   /* border:2px solid orange; */
   line-height: 2.5em;
   display:flex;
}

.infos .content-infos .paragraph .container-paragraph{
    /* border:2px solid orange; */
    line-height: 2em;
 }

.icons{
    /* border:2px solid blue; */
    display:flex;
    flex-direction: column; 
    margin-right:1em;
}

.icons img{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}


.infos .content-infos .paragraph b{
    font-weight: 500;
}


/**** warning****/

.warning-info{
    background: #E7F3F1;
}

.warning-info p{
    color: #129490;
    padding-bottom:1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom:1em;
    
}

.warning-info .p-warning{
    color: #129490;
    font-weight: 500;
    padding-top:1em;
    padding-left: 1em;
    padding-right: 1em;
}

.button a {
    text-decoration: none;
    background:#129490;
    padding:0.6em 1.5em;
    border-radius: 100px;
    font-weight: 500;
    color:white;
}

.button{
    margin-top:3em;
}

.indication{
    margin-top:0.5em;
}