.content{
    margin-top:4em;
    display:flex;
    flex-direction: column;
    margin-left:10%;
    width:80%;
    /* border:2px solid violet; */
}

.first-container{
    display:flex;
    /* border:4px solid orange; */
    justify-content: space-between;
}

.titles{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    /* border:solid blue 2px; */

}

.titles .title-container b{
    font-family: minion-pro, serif;
    font-style: italic;
    color:#71BCBA; 
    font-size: 1.3em; 
    font-weight: 600;
 }

.little-title-container{
    padding-bottom:1em;
    /* border:2px solid red; */
}

.green{
    display:flex;
    /* border: solid brown 3px; */
    align-items: center;
}

.green img{
    height:100%;
}


.content .image-container-price{
    width:40%;
    height: 10%;
    /* border:3px solid red; */
}

.content .image-container-price img {
    width:100%;
}
/********************
      Warning
********************/

.warning {
    margin-top:4em;
    /* border:3px solid slateblue; */
    display:flex;
    justify-content: space-between;
}

.warning p {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.warning a{
    color:#129490;
    font-weight: 500;
    text-decoration: none;
    border-bottom:2px solid #129490;
    padding-bottom:0.4em;
}

/********************
      Contenu
********************/

.green-bg{
    margin-top:2em;
    background:#E7F3F1;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.green-bg .first-line{
    padding-top:3em;
    display:flex;
    justify-content: space-between;
    /* border:3px solid rebeccapurple; */
    flex-direction: row;
    width:80%;
}


.green-bg .first-line .left { 
    /* border:3px solid paleturquoise; */
}

.green-bg .first-line .left .title-price { 
    font-family: freight-text-pro, serif;
    color:#2D3047;
    font-size: 1.2em;
    font-weight: 600;
}

.green-bg .first-line .left p{ 
    padding-top:0.6em;
    color:#129490;
    font-size:0.9em;
}

.green-bg .first-line .right {
    display:flex;
    align-items: center;
    /* border:3px solid red; */
}

.green-bg .first-line .right .price{
    color:#2D3047;
    font-weight: 500;
    font-size: 1.2em;
}

.last {
    padding-bottom:3em;
}

/********************
      Bouton
********************/

.container-btn{
    width:100%;
    display:flex;
    justify-content: flex-end;
    margin-top:3em;
}

.container-btn a{
    text-decoration: none;
    background:#129490;
    padding:0.6em 1.5em;
    border-radius: 100px;
    font-weight: 500;
    color:white;
}

